<h1>Categories#index</h1>
<p>
	<% @categories.each do |category| %>
		<%= category.name %><br>
		  <% category.songs.each do |song| %>
		  <%= link_to song.title, song_path(song) %><br>
	  <% end %>
	<% end %>
</p>