<!DOCTYPE html>
<html>
  <head>
    <title>ChartScraper</title>
    <%= csrf_meta_tags %>
   </head>
  <body>
    <div class="container">
      <div align="left">
      <hr>
      <%= render partial: 'layouts/main_nav' %>
      <hr>
      <%= yield %>
      </div>
    </div>
  </body>
</html>
